body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
.navbar {
    background-color: #004080;
    padding: 1rem;
    color: white;
}
.navbar a {
    color: white;
    margin-right: 1rem;
    text-decoration: none;
}
.container {
    margin: 2rem auto;
    width: 90%;
    max-width: 900px;
    background: white;
    padding: 2rem;
    border-radius: 10px;
}
input, select, button {
    width: 100%;
    padding: 0.7rem;
    margin-bottom: 1rem;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 0.5rem;
    border: 1px solid #ccc;
}

.container p {
    margin-top: 10px;
    font-size: 14px;
}

.container a {
    color: #007BFF;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}